/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0B2447;
}

header {
    background-color: #19376D;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    padding: 2em;
    text-align: center;
    color:#fff;
}

footer {
    background-color: #19376D;       /* Color de fondo del pie de página */
    color: #fff;                  /* Color de texto del pie de página */
    padding: 1em;                 /* Espaciado interno */
    text-align: center;           /* Alineación centrada */
    position: relative;           /* Esto asegura que el pie de página esté en su lugar */
    bottom: 0;                    /* Posición al final de la página */
    width: 100%;                  /* Asegura que ocupe todo el ancho de la página */
}

/* Parallax */
.parallax {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Hubble2005-01-barred-spiral-galaxy-NGC1300.jpg/1024px-Hubble2005-01-barred-spiral-galaxy-NGC1300.jpg'); /* Cambia a la URL de tu imagen */
    height: 400px;                           /* Altura de la sección */
    background-attachment: fixed;            /* Fija el fondo para parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.parallax-content {
    background: rgba(0, 0, 0, 0.5);          /* Fondo semitransparente para texto */
    padding: 20px;
    border-radius: 10px;
}

